.container {
    margin-top: 60px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginForm {
    margin-right: 135px;
    width: 370px;
}

.loginTitle {
    margin-bottom: 48px;
}

.loginTitle h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.loginTitle span {
    font-size: 16px;
}

.inputStyles {
    width: 370px;
    height: 32px;
    border: none;
    border-bottom: 1px solid grey;
    color: grey;
    margin-bottom: 30px;
}
